spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:hui}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:test123}

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    open-in-view: true

# swagger-ui custom path
springdoc:
  swagger-ui:
    path: /docs
    enabled: true
